{% extends 'blog/base.html' %} {% block content %}
<div class="container mt-4">
  <h2 class="mb-4">Posts tagged with "{{ tag.name }}"</h2>

  {% if posts %}
  <ul class="list-group">
    {% for post in posts %}
    <li class="list-group-item mb-3">
      <h4>
        <a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a>
      </h4>
      <p>{{ post.content|truncatewords:25 }}</p>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No posts found for this tag.</p>
  {% endif %}
</div>
{% endblock %}